* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}
 li {
  list-style: none;
  text-decoration: none;
  text-underline-offset: 0;
  font-family: poppins;
  font-size: 1rem;
  font-weight: 800; 
 }
 .navigator {
  display: flex;
  justify-content:space-around;
  align-items: center;
  height: 4rem;
  border-bottom: solid 1px #EEEEEE;;
  background-color: rgb(34, 40, 49);
  padding: 3rem 8rem;
  overflow-y: hidden;
 }

 .news-container {
  display: flex;
  flex-direction: column;
  gap: 7px;
  text-align: start;
 }

.news {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  padding: 10px;
  margin: 10px;
  width: 100%;
  height: 100%;
  grid-auto-rows: 1fr; 
}
.news-wrapper {
  border: 4px solid rgb(0, 173, 181);
  border-radius: 5%;
  margin: 10px;
  padding: 10px;
}
.brand-name {
  font-size: 1.5rem;
  font-weight: 800;
  font-family: poppins;
}
a {
  text-decoration: none;
  text-underline-offset: 0;
  color: #EEEEEE;
}
body {
  background-color: rgb(57, 62, 70);
  color: #EEEEEE;
  font-family: poppins;
  font-weight: 300;
}
.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 4rem;
  border-top: solid 1px #EEEEEE;;
  background-color: rgb(34, 40, 49);
  padding: 3rem 8rem;
  overflow-y: hidden;
  color: #EEEEEE;
 }

  .news-wrapper:hover {
   
    transition: all 0.1s ease-in-out;
    cursor: pointer;
  }

  /* .news-wrapper:hover {
    box-shadow: 0 0 11px rgba(33,33,33,.2);
    transition: all 0.1s ease-in-out;
    cursor: pointer;
  } */